[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
flask = "*"
pillow = "*"
unsplash-get = {git = "git+https://github.com/streanger/unsplash-get.git"}
pytest = "*"
pytest-mock = "*"
werkzeug = "*"
click = "*"
flask-caching = "*"
boto3 = "*"
b2sdk = "*"
flask-admin = "*"

[dev-packages]

[requires]
python_version = "3.9"
