<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://startr.style/style.css">
    <title>{% block title %}Image Startr{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body style="--d: flex; --fd: column; --ai: center; --jc: center; --minh: 100vh;">
    {% include 'icons.html' %}

    <div class="container" style="--m: auto; --maxw: 80em; --fg:4">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    {% block scripts %}{% endblock %}
</body>
</html> 