{% extends "base.html" %}

{% block title %}Image Set - {{ word }}{% endblock %}

{% block content %}
<h1><a href="/">Image Startr</a> / imageset / {{ word }}</h1>
<div class="gallery">
    {% for image_url in image_urls %}
    <div class="thumbnail" style="--ta:center; --mb:0.6em">
        <a href="{{ url_for('download_image', word=word, filename=image_url.split('/')[-1]) }}" class="btn btn-primary">
        <img src="{{ image_url }}" alt="Image thumbnail" style="--br:0.6rem; --shadow:8; --maxh:90vh"><br>
        Download</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
